
<div>
  <div>
    <label> busqueda:
      <input [(ngModel)]="query" style="width: 30em" placeholder="query">
      oferta especial?:
      <input [(ngModel)]="specialOffer" type="checkbox">
      <button (click)="search()"> search</button>

    </label>
  </div>
</div>

<h2>My Houses</h2>

<table class="states">
  <tr>
    <th>rowId</th>
    <th>address</th>
    <th>special offer</th>
    <th>special flag</th>
  </tr>
  <tr *ngFor="let state of realStates">
    <td>{{state.rowId}}</td>
    <td>{{state.address}}</td>
    <td>{{state.specialOffer}}</td>
    <td>{{state.specialFlag}}</td>
  </tr>
</table>

